@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  font-family: 'Josefin Sans', 'sans-serif';
  box-sizing: border-box;
}

a {
  text-decoration: none;
}